## Test run, compose is more reproducible
## docker run -d --rm --name vyos --privileged -v /lib/modules:/lib/modules --ip 192.168.1.46 --network vyos vyos:1.5-rolling-20260613 /sbin/init

services:
  vyos:
    command: /sbin/init
    ## Added this since syslog complained about it's hostname not resolving
    extra_hosts:
    - "vyos-arm=192.168.0.241"
    hostname: vyos-arm
    image: darkdragn/vyos:1.5-rolling-20260613
    ## Populate the IPs it's going to have on each NIC. You don't have to use both if you don't want, just comment out the network portions for what you're not using
    # If you're accessing the host OS on one of the NICs given to vyos, it's fine. 
    # The macvlan driver assigns a unique mac to vyos, the host os and vyos can exist on the same nic without complications.
    # My lan1 goes to my lab, which is on vlan 20, so I don't use untagged traffic on it, so I didn't care what docker iPAM auto assigned to it
    networks: 
      lan2:
        ipv4_address: 192.168.0.241
      lan1: {}
    privileged: true
    restart: always
    volumes:
      - /lib/modules:/lib/modules
      - ./config:/opt/vyatta/etc/config
      - ./ssh:/etc/ssh
networks:
  lan2:
    driver: macvlan
    driver_opts:
      parent: lan2 
    enable_ipv4: true
    enable_ipv6: true
    ## If this goes to your LAN, populate and uncomment these fields
    # ipam:
    #   config:
    #     - subnet: 192.168.0.0/24
    #       gateway: 192.168.0.1
    #       ip_range: 192.168.0.240/29 # I chose a block outside of my DHCP range, so I don't accidentally put any other containers up that grab an active IP
  lan1:
    driver: macvlan
    driver_opts:
      parent: lan1 
    enable_ipv4: true
    enable_ipv6: true
    ## Reference ipam block above. Since this network doesn't have anything untagged, this didn't matter to me.
    ## Since I was doing to define a sub interface in Vyos anyway for this net.
    # ipam:
    #   config:
    #     - subnet: 10.20.0.0/24
    #       gateway: 10.20.0.251
    #       ip_range: 10.20.0.240/29
